<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body">
            <h5 class="card-title">{{name}}</h5>
            <p class="card-text">{{price}}</p>
        </div>
    </div>
</div>
